---
const name = "Mundo";
---
<html>
  <head>
    <title>Hola Astro</title>
    <link rel="stylesheet" href="../styles/estilos.css">
  </head>
  <body>
    <h1>Hola, {name}!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae 
        ullam tempore consectetur doloribus modi autem quam consequuntur ab, 
        rerum officiis neque sunt tempora nobis 
        illo quisquam beatae atque provident obcaecati!</p>
  </body>
</html>